extends layouts/main.pug

block body
    div(class='section')
        div(class="container")
                div(class="row" id="cars-menu")
                div(class="row" id="cars-data")

block scripts
    script(src='/static/js/client.js')
