doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")
        title Cars
        // CSS
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="/static/vendor/com.materializecss/css/materialize.min.css" type="text/css" media="screen,projection")
        link(rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen,projection")

    body(class="blue-grey lighten-4")
        div(class="navbar-fixed")
            nav(class="blue-grey darken-1" role="navigation")
              div(class="nav-wrapper")
                  a(href="/" class="brand-logo cars-logo") Cars

        if (messages.error || messages.info)
            div(class="section messages-section")
                div(class="container")
                    div(class="row")
                        div(class="col s12 m12 l6 offset-l3")
                            if (messages.error)
                                div(class="center-align card-panel red white-text") #{messages.error}
                            if (messages.info)
                                div(class="center-align card-panel blue white-text") #{messages.info}

        block body

        script(src='/modules/jquery/dist/jquery.min.js')
        script(src='/modules/socket.io-client/dist/socket.io.js')
        script(src="/static/vendor/com.materializecss/js/materialize.min.js")

        block scripts
